@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 250, 250, 250;
    --background-start-rgb: 9, 9, 11;
    --background-end-rgb: 9, 9, 11;
}

::selection {
    background-color: #FFFDD0;
    /* Cream color */
    color: #1a1a1a;
}

::-moz-selection {
    background-color: #FFFDD0;
    /* Cream color */
    color: #1a1a1a;
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb));
    font-family: 'Space Grotesk', sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Archivo', sans-serif;
}

.glass {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.glass-dark {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}